/*Media query*/
h1 {
    color: red;
}
@media screen and (max-width: 500px) {
    h1 {
        color:aquamarine
    }
}

/*Min width*/
p {
    background-color: bisque;
    color: burlywood;
}
@media screen and (min-width: 800px){
    p {
        background-color:cadetblue;
        color:darkgreen;
    }
}

/*Landscape*/
h3 {
    display: none;
}
@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }  
}

