* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla;
}

body {
  background-color: #4e8bbf;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #f2ede4;
  width: 400px;
  height: auto;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  padding: 15px;
}

.h1 {
  color: #f23a29;
  padding-bottom: 0.3rem;
}

.paragrafo {
  color: #f29863;
  font-weight: bold;
  padding-bottom: 1rem;
}

input {
  width: 80%;
  height: 50px;
  border-radius: 0.5rem;
  border: none;
  padding: 0.7rem;
}

button {
  width: 80%;
  border-radius: 0.5rem;
  height: 50px;
  border: none;
  background-color: #f23a29;
  color: #f2ede4;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 1rem;
  opacity: 0.8;
  transition: 0.5s;
}

button:hover {
  opacity: 1;
}

.imagem {
  border: 1px solid #f23a29;
  padding: 2rem;
  width: 80%;
  margin: 1.5rem auto;
  display: none;
}
